<div class="operation-item find-prime-number-operation" id="PrimeNumberOperation">
    <div class="operation-item-container flex-column">
        <div class="flex-row">
            <span class="margin-right-10px">Enter Number :</span>
            <input type="text" class="textbox required" id="prime-number-input" placeholder="Enter Valid Number :" />
        </div>
        <div class="margin-top-10px">
            <button disabled id="prime-number-btn" class="float operation-button" onclick="checkPrimeNumber()">
                Find
            </button>
        </div>
        <div>
            <p id="prime-number-result"></p>
        </div>
    </div>
</div>