<!-- Factorial Operation Start -->
<div id="FactorialOperation" class="operation-item calculate-factorial-operation">
    <div class="operation-item-container flex-column">
        <div class="flex-row">
            <span class="margin-right-10px">Enter Number :</span>
            <input class="textbox" type="text required" id="factorial-input" placeholder="Enter Valid Number :" />
        </div>
        <div class="margin-top-10px">
            <button disabled id="factorial-btn" class="float operation-button" onclick="calculateFactorial()">
                Calculate
            </button>
        </div>
        <div>
            <p id="factorial-result"></p>
        </div>
    </div>
</div>