<!-- Shapes operation  Start-->
<div id="ShapesOperation(shape)" class="operation-item shapes-operation">
  <div class="operation-item-container">
    <!-- Add input fields, buttons, and functionality as needed -->

    <!-- Tab container with three tabs -->
    <div class="tab-container">
      <div class="tab" data-tab="tab1" onclick="onSquareTabClick()">Square</div>
      <div class="tab" data-tab="tab2" onclick="onRectangleClick()">Rectangle</div>
      <div class="tab" data-tab="tab3" onclick="onCircleClick()">Circle</div>
    </div>

    <router-outlet id="shape-router-outlet"></router-outlet>
  </div>
</div>
