<div id="SquareRootOperation" class="operation-item find-square-root-operation">
    <div class="operation-item-container flex-column">
        <div class="flex-row">
            <span class="margin-right-10px">Enter Number :</span>
            <input class="textbox" type="text required" id="sqrt-input" placeholder="Enter Valid Number :" />
        </div>
        <div class="margin-top-10px">
            <button disabled id="sqrt-btn" class="float operation-button" onclick="findSquareRoot()">
                Find
            </button>
        </div>
        <div>
            <p id="sqrt-result"></p>
        </div>
    </div>
</div>