<!-- Add Stopwatch Operation -->
<div id="StopwatchOperation" class="operation-item stopwatch-operation">
    <div class="operation-item-container flex-column">
        <!-- Label to display the count -->
        <label id="lbl-time">00:00:00</label>

        <!-- Buttons to start and stop the timer -->
        <div class="flex-row margin-bottom-5px">
            <button id="btn-start" class="operation-button">Start</button>
            <button id="btn-stop" class="operation-button">Stop</button>
        </div>

        <!-- Buttons to add time -->
        <div class="flex-row">
            <button id="btn-add-sec" class="operation-button">Add 1 sec</button>
            <button id="btn-add-min" class="operation-button">Add 1 min</button>
            <button id="btn-add-hr" class="operation-button">Add 1 hr</button>
        </div>
    </div>
</div>
