
.body-container {
    flex: 5 1 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.user-logo-container {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/natural-scene.jpg");
    background-size: cover;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../images/user-log-1.png");
    background-size: contain;
    background-position: center;
}

.operations-header {
    color: rgb(48, 139, 177);
    font-size: 30px;
    padding: 12px 0;
    font-weight: bold;
}

